<div x-data="{ open: false }" class="relative inline-block text-left">
  <!-- 🖼 Avatar Trigger -->
  <div
    class="flex items-center cursor-pointer select-none"
    @click="open = !open"
    @click.outside="open = false">

    <span class="text-xl text-gray-100 mr-2">
      <%= current_user.username || current_user.email.split('@').first %>
    </span>

    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_fill: [48, 48]), class: "rounded-full h-12 w-12 object-cover" %>
    <% else %>
      <%= image_tag avatar_url_for(current_user), class: "rounded-full h-12 w-12 object-cover" %>
    <% end %>
  </div>

<!-- Dropdown Menu -->
  <div
    x-show="open"
    x-cloak
    class="absolute right-0 mt-2 w-48 bg-white text-black rounded-md shadow-lg z-50 transition-opacity duration-200"
  >
    <% if current_user.client? %>
      <%= link_to "Dashboard", dashboard_path_for(current_user), class: "block px-4 py-2 hover:bg-gray-100" %>
    <% end %>

    <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-4 py-2 hover:bg-gray-100" %>
    <%= link_to "Settings", "#", class: "block px-4 py-2 hover:bg-gray-100" %>

    <%= button_to "Logout", destroy_user_session_path,
        method: :delete,
        form_class: "w-full text-left",
        data: { turbo: false },
        class: "block px-4 py-2 text-red-600 hover:bg-gray-100" %>
  </div>
</div>