<nav class="bg-gray-800 p-4 text-white flex justify-between items-center">
  <div class="text-xl font-bold">
  <%= link_to "GG T4", root_path, class: "block px-4 py-2 hover:bg-gray-100" %>
  </div>

  <div>
    <% if user_signed_in? %>
      <div class="relative inline-block text-left group">
        <div class="flex items-center cursor-pointer select-none">
        <% if current_user.present? && current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize_to_fill: [48, 48]), class: "rounded-full h-12 w-12 object-cover" %>
      <% elsif current_user.present? %>
        <% name = current_user.username || current_user.email.split('@').first %>
        <%= image_tag avatar_url_for(current_user), class: "rounded-full h-12 w-12 object-cover" %>
         <% end %>
      
        </div>

        <!-- Dropdown -->
        <div class="absolute right-0 mt-2 w-48 bg-white text-black rounded-md shadow-lg z-50 hidden group-hover:block">
        <% if current_user.client? %>
        <%= link_to "Dashboard", clients_dashboard_path, class: "block px-4 py-2 hover:bg-gray-100" %>
      <% elsif current_user.admin? %>
        <%= link_to "Dashboard", admin_dashboard_path, class: "block px-4 py-2 hover:bg-gray-100" %>
      <% elsif current_user.agent? %>
        <%= link_to "Dashboard", agents_dashboard_path, class: "block px-4 py-2 hover:bg-gray-100" %>
      <% elsif current_user.rider? %>
        <%= link_to "Dashboard", riders_dashboard_path, class: "block px-4 py-2 hover:bg-gray-100" %>
      <% end %>
      
          <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-4 py-2 hover:bg-gray-100" %>
          <%= link_to "Settings", "#", class: "block px-4 py-2 hover:bg-gray-100" %>
          <%= button_to "Logout", destroy_user_session_path,
                method: :delete,
                form_class: "w-full text-left",
                data: { turbo: false },
                class: "block px-4 py-2 text-red-600 hover:bg-gray-100" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "mr-4" %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</nav>


