<nav class="flex items-center justify-between bg-[#1f202d] border-b-2 border-[#bd93f9] p-4 text-white shadow-md rounded-b-xl">

  <!-- 🧠 App Name -->
  <div class="text-xl font-bold">
    <%= link_to "GG T4", root_path, class: "hover:text-purple-400 transition" %>
  </div>


  <!-- 👤 User Menu -->
<div>
  <% if user_signed_in? %>
    <%= turbo_frame_tag "avatar_frame" do %>
      <%= render partial: "shared/avatar_dropdown", locals: { current_user: current_user } %>
    <% end %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "mr-4 hover:text-purple-400 transition" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "hover:text-purple-400 transition" %>
  <% end %>
</div>
</nav>
